body {
  padding: 2rem;
  height: 100vh;
  background-color: $color-bg;
  font-family: $font-main;
}
.title {
  margin: 10px 0;
}

.main-search__item {
  background-color: gray;
  width: fit-content;
  padding: 10px; //fondo?
  color: blueviolet;
  margin: 5px;
}

// .hidden {
//   display: none;
// }
.main__fav {
  width: 0px;
  transition: width 1s ease;
}
